
<div class="panel panel-default container">
  <!-- Default panel contents -->
  <div class="panel-heading">Search Reslut</div>
  <div class="panel-body">
    <p>タグ「<%=@tag.tag%>」の検索結果：</p>
    <%unless @contents.blank? then%>
  </div>

  <!-- Table -->
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable maintable">
    <tr>
        <th>名前</th>
        <th>誕生日</th>
        <th>タグ</th>
        <th>スター</th>
    </tr>
      <% @contents.each do |content| %>
      <tr>
          <td class="cell name"><a href="/character/<%=content.id%>"><%=content.name%></a></td>
          <td class="cell date"><script>wd("<%=content.date%>")</script></td>
          <td class="cell tag"></td>
          <td class="cell star">
              <span><%= content.good %></span>
                <form action="/good/<%= content.id %>" method="post" class="inline-form">
                    <button type="submit" class="material-icons non-bg non-border">
          <i class="material-icons">grade</i>
        </button>
                </form> 
            </td>
    </tr>
        <%end%>
  </table>

  <%else%>
  <p>このタグが付けられたキャラクターはいません</p>
  </div>
  <%end%>
</div>